body.miojo{
    background-color: rgb(193, 205, 205);
}

header{
    text-align: center;
}

h1{
    text-align: center;
}

button.elfo{
    border-style: solid;
    background-color: rgb(193, 205, 205);
    text-align: center;
    align-items: left;
    cursor: hand;
}

p.bob{
    margin-right: 1000px;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    text-align: justify;
}

p.bub{
    margin-right: 1000px;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    text-align: justify;
}

p.bib{
    margin-right: 1000px;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    text-align: justify;
}

p.bab{
    margin-right: 1000px;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    text-align: justify;
}

p.byb{
    margin-right: 1000px;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    text-align: justify;
}

p.beb{
    margin-right: 1000px;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    text-align: justify;
}

ul.pop{
    font-size: 25px;
}

h2.ui{
    text-align: left;
    font-size: 35px;
    margin-top: 60px; 
}

h2.yut{
    text-align: left;
    font-size: 35px;
    margin-top: 60px;
}

h2.kjh{
    text-align: left;
    font-size: 35px;
    margin-top: 60px;
}

li.ku{
    font-size: 20px;
}

h2.ber{
    text-align: left;
    font-size: 35px;
    margin-top: 60px;
}

p.nvc{
    margin-right: 1000px;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    text-align: justify;
}

h2.jgh{
    text-align: left;
    font-size: 35px;
    margin-top: 60px;
}

p.jj{
    margin-right: 1000px;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    text-align: justify;
}