body.lsc{
    background-color: rgb(193, 205, 205);
}

header{
    text-align: center;
}

h1{
    text-align: center;
}

button.true{
    border-style: solid;
    background-color: rgb(193, 205, 205);
    text-align: center;
    align-items: left;
    cursor: hand;
}

p.kit{
    margin-right: 1000px;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    text-align: justify;
}

p.kut{
    margin-right: 1000px;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    text-align: justify;
}

p.kat{
    margin-right: 1000px;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    text-align: justify;
}

ul{
    text-align: left;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    text-align: justify;
}

p.class{
    text-align: left;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    text-align: justify;
}

p.mute{
    text-align: left;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-right: 1000px;
    text-align: justify;
}

li.web{
    font-size: 30px;
}

li.cbf{
    font-size: 30px;
}

p.kiko{
    text-align: left;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-right: 1000px;
    text-align: justify;
}

p.chico{
    text-align: left;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-right: 1000px;
    text-align: justify;
}

p.noob{
    text-align: left;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-right: 1000px;
    text-align: justify;
}

p.jojo{
    text-align: left;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-right: 1000px;
    text-align: justify;
}

h2.got{
    text-align: left;
    font-size: 35px;
    margin-top: 60px;
}

h2.het{
    text-align: left;
    font-size: 35px;
    margin-top: 60px;
}

h2.hoot{
    text-align: left;
    font-size: 35px;
    margin-top: 60px;
}

h2.lat{
    text-align: left;
    font-size: 35px;
    margin-top: 60px;
}

p.but{
    text-align: left;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-right: 1000px;
    text-align: justify;
}

h2.lua{
    text-align: left;
    font-size: 35px;
    margin-top: 60px;
}

p.sad{
    text-align: left;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-right: 1000px;
    text-align: justify;
}


h2.xat{
    text-align: left;
    font-size: 35px;
    margin-top: 60px;
}

p.out{
    text-align: left;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-right: 1000px;
    text-align: justify;
}
