body.boh{
    background-color: rgb(193, 205, 205);
}

header{
    text-align: center;
}

h1{
    text-align: center;
}

button.false{
    border-style: solid;
    background-color: rgb(193, 205, 205);
    text-align: center;
    align-items: left;
    cursor: hand;
}

h2.rgb{
    text-align: left;
    font-size: 30px;
    margin-top: 60px;
}

p.google{
    text-align: left;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-right: 1100px;
    text-align: justify;
}