body.cac{
    background-color: rgb(193, 205, 205);
}

header{
    text-align: center;
}

h1{
    text-align: center;
}

button.false{
    border-style: solid;
    background-color: rgb(193, 205, 205);
    text-align: center;
    align-items: left;
    cursor: hand;
}

h2.sete{
    text-align: left;
    font-size: 35px;
    margin-top: 60px;
}

p.noth{
    text-align: left;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-right: 1000px;
    text-align: justify;
    font-weight: normal;
}


li.brn{
    text-align: left;
    font-size: 25px;
    text-align: left;
    margin-left: 10px;
    margin-right: 1000px;
    text-align: justify;
}

p.sinopse{
    text-align: left;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-right: 1000px;
    text-align: justify;
    font-weight: normal;
}

strong{
    font-weight: bold;
}

h2.sol{
    text-align: left;
    font-size: 35px;
    margin-top: 60px;
}

li.estrela{
    text-align: left;
    font-size: 25px;
    text-align: left;
    margin-left: 10px;
    margin-right: 1000px;
    text-align: justify;
}

p.barro{
    text-align: left;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-right: 1000px;
    text-align: justify;
    font-weight: normal;
}

h2.tre{
    text-align: left;
    font-size: 35px;
    margin-top: 60px;
}

li.mae{
    text-align: left;
    font-size: 25px;
    text-align: left;
    margin-left: 10px;
    margin-right: 1000px;
    text-align: justify;
}


p.nvm{
    text-align: left;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-right: 1000px;
    text-align: justify;
    font-weight: normal;
}

li.qe{
    text-align: left;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-right: 1000px;
    text-align: justify;
}

li.piu{
    text-align: left;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-right: 1000px;
    text-align: justify;
}

ul.noel{
    text-align: left;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-right: 1300px;
    text-align: justify;
}

h2.shoop{
    text-align: left;
    font-size: 35px;
    margin-top: 60px;
}

li.dad{
    text-align: left;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-right: 1000px;
    text-align: justify;
}

p.dipsi{
    text-align: left;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-right: 1000px;
    text-align: justify;
    font-weight: normal;
}

ul.quu{
    margin-top: 50px;
    font-size: 20px;
}

li.quo{
    text-align: left;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-right: 1000px;
    text-align: justify;
}