body.pow{
    background-color: rgb(193, 205, 205);
}

header{
    text-align: center;
}

h1{
    text-align: center;
}

button.true{
    border-style: solid;
    background-color: rgb(193, 205, 205);
    text-align: center;
    align-items: left;
    cursor: hand;
}

h2.tre{
    text-align: left;
    font-size: 35px;
    margin-top: 60px;
}

li.cap{
    font-size: 30px;
}

p.nba{
    text-align: left;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-right: 1000px;
    text-align: justify;
}

h2.class{
    text-align: left;
    font-size: 35px;
    margin-top: 60px;
}

li.hue{
    font-size: 30px;
}

p.gugu{
    text-align: left;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-right: 1000px;
    text-align: justify;
}

li.bb{
    font-size: 20px;
    margin-top: 30px;
    margin-block-end: 50px;
}

h2.jeh{
    text-align: left;
    font-size: 35px;
    margin-top: 60px;
}

li.rafa{
    font-size: 30px;
}

p.caue{
    text-align: left;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-right: 1000px;
    text-align: justify;
}

ul.noah{
    font-size: 20px;
}

h2.dorna{
    text-align: left;
    font-size: 35px;
    margin-top: 60px;
}

li.boff{
    font-size: 30px;
}

p.luiz{
    text-align: left;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-right: 1000px;
    text-align: justify;
}

ul.rotta{
    font-size: 20px;
}

ul.gabiel{
    margin-top: 50px;
    font-size: 20px; 
}

li.CH{
    margin-top: 40px;
}

p.maga{
    margin-top: 30px;
}

ul.alex{
    font-size: 20px;
}

li.brandao{
    font-size: 20px;
}